body {
  background-color: #cfd1d0;
  text-align: center;
}

.splash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.recipe-img {
  width: max(300px, 10em);
}

.recipe-column {
  display: inline-flex;
}